/*-- Memory game container --*/
.memory-game {
    width: 640px;
    height: 760px;
    margin: 4rem auto 6rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
}
/*-- /Memory game container --*/

/*-- Game Title --*/
.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game-title {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.time-elapsed {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: right; 
}
/*-- /Game Title --*/

/*-- Memory card --*/
.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.matched .front-face, 
.matched .back-face {
  background: #115083;
  opacity: 0.8;
}
/*-- /Memory card --*/

/*-- Memory Card faces --*/
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #094d85;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
/*-- /Memory Card faces --*/

@media screen and (max-width: 767px) {
    /*-- Memory game container --*/
    .memory-game {
        height: 80vh;
        padding: 1.5rem;
    }
    /*-- /Memory game container --*/
}