* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: 'Baloo Da 2', cursive;
    background: #111 url('http://artem.anmedio.ru/dev/planet/space.jpg');
    background-size: cover;
    background-repeat: repeat;
}

@media screen and (max-width: 767px) {
    body {
        justify-content: center;
        align-items: center;
    }
}