/*-- Container & Card --*/
.card {
  animation: 0.9s ease-in-out 0s 1 fadeIn;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s;
}

.card-color {
  background: #094d85;
  background: linear-gradient(90deg, rgba(9,77,133,1) 0%, rgba(8,68,117,1) 35%, rgba(8,68,117,1) 100%);
  color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-logo {
  width: 45%;
  height: auto;
  justify-self: center;
  margin: 1rem auto 0.1rem auto;
}

@keyframes fadeIn {
  0% {
      opacity: 0.1;
  }

  100% {
      opacity: 1;
  }
}
/*-- /Container & Card --*/

/*-- Control buttons --*/
.btn-play-again {
  padding: 0.8rem;
  text-decoration: none;
  background: #094d85;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  font-weight: bold;
}
.btn-play-again:hover {
  opacity: 0.9;
  cursor: pointer;
}
.btn-play-again:focus {
  opacity: 1;
  cursor: default;
}
/*-- /Control buttons --*/

/*-- Modal --*/
/* The Modal (background) */
.ui-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.ui-modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 70vw;
}
/* Caption of Modal - Same Width as the content */
#uiModalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation - Zoom in the Modal */
.ui-modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.3s;
}

@keyframes zoom {
  from {
      transform: scale(0)
  }

  to {
      transform: scale(1)
  }
}
/* The Close Button */
.ui-modal-close {
  position: absolute;
  top: 10vh;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.ui-modal-close:hover,
.ui-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*-- /Modal --*/
