/*-- Display Block --*/
.d-block {
    display: block;
}
/*-- /Display Block --*/

/*-- Display Flex --*/
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}
/*-- /Display Flex --*/

/*-- Margin --*/
.mt-4 {
    margin-top: 4rem;;
}

.mx-2 {
    margin-right: 2rem;
    margin-left: 2rem;
}
/*-- /Margin --*/

/*-- Padding --*/
.p-5 {
    padding: 5rem;
}
.p-3 {
    padding: 3rem;
}
/*-- /Padding --*/